
<div class="container" *ngIf="article$ | async as article">
    <h2>{{ article.title }}</h2>
    <a routerLink="/articlex">Retour</a><br>
    <img [src]="article.ImageUrl" [alt]="article.title">
    <div class="bloc">
        <p>{{ article.Prix }}</p>
        <p>{{ article.Description }}</p>
    </div>
</div>

<div class="main">

    <a routerLink="/articlex">Retour</a>

<div class="btn">
    <button class="update">Modifier</button>
    <button class="delete">Supprimer</button>
</div>


</div>


